transformers
yamlordereddictloader
numpy
pandas

# knowbert
git+git://github.com/matt-peters/allennlp.git@2d7ba1cb108428aaffe2dce875648253b44cb5ba
nltk
ipython
spacy
pytest
overrides==3.1.0
scikit-learn==0.22.2

# k-adapters